<div class="container">
  <div class="panel panel-default" style="max-width: 400px; margin-left: auto; margin-right: auto; margin-top: 60px;">
    <div class="panel-heading">Resend confirmation instructions</div>
      <div class="panel-body">
        <div class="new-form-div">
          <%= form_for(resource, as: resource_name, url: confirmation_path(resource_name), html: { method: :post }) do |f| %>
            <%= devise_error_messages! %>
            <div class="field">
              <%= f.label :username %><br />
              <%= f.text_field :username, autofocus: true %></p>
            </div>
            <%= f.submit "Resend confirmation instructions", class: "btn btn-success" %>
          <% end %>
        <%= link_to "Back", :back %>
      </div>
    </div>
  </div>
</div>
