<body id="page-registrations-new">
  <div class="container">

    <div class="row">
      <div id="page-registrations-new-first">
          <h3><%= link_to "Oslaw", root_path %></h3>
      </div>
    </div>

    <div class="row">
      <div class="col-md-offset-3 col-md-6">
        <div class="panel panel-default">
          <h3>Create an account</h3>
          <%= simple_form_for(resource, as: resource_name, url: registration_path(resource_name)) do |f| %>
            <div class="form-inputs">
              <%= f.input :first_name, required: true, autofocus: true %>
              <%= f.input :last_name, required: true %>
              <%= f.input :username, required: true %>
              <%= f.input :email, required: true %>
              <%= f.input :password, required: true, placeholder: ("#{@minimum_password_length} characters minimum" if @minimum_password_length) %>
              <%= f.input :password_confirmation, required: true %>
              <%= f.button :button, '<i class="fa fa-user-plus"></i> Sign up'.html_safe, class: 'btn btn-default', data: {disable_with: "<i class='fa fa-spinner fa-spin'></i> Creating Account..."} %>
            </div>
          <% end %>
          <p>By signing up, I agree to Oslaws's <%= link_to 'Terms of Service', '#' %>.</p>
        </div>
      </div>
    </div>

  </div>
</body>
