<div class="container">
  <div class="row">
    <div class="col-md-4 center-block">
      <p style="border-bottom: 1px solid #e3e3e3; font-size: 18px; margin-top: 60px; text-align: center">Create an Oslaw Account</p>
        <div class="form-div">
          <%= form_for(resource, as: resource_name, url: registration_path(resource_name)) do |f| %>
            <%= devise_error_messages! %>
            <div class="field">
              <%= f.label :first_name %><br />
              <%= f.text_field :first_name, autofocus: true %>
            </div>
            <div class="field">
              <%= f.label :last_name %><br />
              <%= f.text_field :last_name %>
            </div>
            <div class="field">
              <%= f.label :email %><br />
              <%= f.email_field :email %>
            </div>
            <div class="field">
              <%= f.label :username %><br />
              <%= f.text_field :username %>
            </div>
            <div class="field">
              <%= f.label :password %>
                <% if @minimum_password_length %>
                <em>(<%= @minimum_password_length %> characters minimum)</em>
                <% end %><br />
              <%= f.password_field :password, autocomplete: "off" %>
            </div>
            <div class="field">
              <%= f.label :password_confirmation %><br />
              <%= f.password_field :password_confirmation, autocomplete: "off" %>
            </div>
            By signing up, you agree to Oslaw's <a href="#">terms and conditions</a>.<br />
            <%= f.submit "Create Your Account", class: "btn btn-success" %>
          <% end %>
        <p>Have an account? <%= link_to "Sign in →", new_session_path(resource_name) %><br /><%= link_to "Didn't receive confirmation instructions?", new_confirmation_path(resource_name) %></p>
      </div>
    </div>
  </div>
</div>
