<%= content_tag :div, class: 'media', id: "comment-#{comment.id}" do %>
  <div class="media">
    <div class="media-body">
      <span style="font-size: 14px"><%= link_to "#{comment.user.username}", user_path(comment.user) %> said on <%= localize(comment.created_at, :format => :comment_default) %>:</span>
      <blockquote><%= markdown(comment.body) %></blockquote>
      <% if @current_user.voted_up_on? comment %>
        <%= link_to '<i class="fa fa-thumbs-o-down"></i>&nbsp;Downvote'.html_safe, unlike_post_comment_path(@post, comment), method: :put, class: 'btn btn-default btn-xs', remote: true %>&nbsp;<%= pluralize (comment.points), 'upvote' %>
      <% else %>
        <%= link_to '<i class="fa fa-thumbs-o-up"></i>&nbsp;Upvote'.html_safe, like_post_comment_path(@post, comment), method: :put, class: 'btn btn-default btn-xs', remote: true %>&nbsp;<%= pluralize (comment.points), 'upvote' %>
      <% end %>
      <% if policy(comment).destroy? %>
        &nbsp;<%= link_to '<i class="fa fa-trash-o"></i> Delete'.html_safe, [comment.post, comment], method: :delete, class: 'btn btn-danger btn-xs', remote: true, data: {confirm: "Are you sure? Please confirm the deletion of this comment."} %>
      <% end %>
    </div>
  </div>
<% end %>
