<%= content_tag :div, class: 'media', id: "comment-#{comment.id}" do %>
  <div class="media">
    <div class="media-body">
      <%= link_to "#{comment.user.username}", user_path(comment.user) %> said on <%= localize(comment.created_at, :format => :comment_default) %>:
        <% if policy(comment).destroy? %>
          | <%= link_to "delete", [comment.post, comment], method: :delete, remote: true %>
        <% end %>
      <blockquote><%= markdown(comment.body) %></blockquote>
    </div>
  </div>
<% end %>
