<%= content_tag :div, class: 'media', id: "comment-#{comment.id}" do %>
  <div class="media">
    <div class="media-body">
      <span style="font-size: 14px"><%= link_to "#{comment.user.username}", user_path(comment.user) %> said on <%= localize(comment.created_at, :format => :comment_default) %>:</span>
        <% if policy(comment).destroy? %>
          <span style="font-size: 14px">[<%= link_to 'Delete Comment', [comment.post, comment], method: :delete, remote: true, data: {confirm: "Are you sure? Please confirm the deletion of this comment."} %>]</span>
        <% end %>
      <blockquote><%= markdown(comment.body) %></blockquote>
    </div>
    <%= pluralize (comment.get_upvotes.size), 'upvote' %> /
      <% if @current_user.voted_up_on? comment %>
        <%= link_to unlike_post_comment_path(@post, comment), method: :put do %>
          <span class="glyphicon glyphicon-thumbs-down" aria-hidden="true"></span>
        <% end %> <small>(remove upvote)</small>
      <% else %>
        <%= link_to like_post_comment_path(@post, comment), method: :put do %>
          <span class="glyphicon glyphicon-thumbs-up" aria-hidden="true"></span>
        <% end %> <small>(upvote)</small>
      <% end %>
  </div>
<% end %>
