<div class="container">

  <div class="col-md-12" style="padding-left: 0">
    <p style="font-size: 18px; font-weight: bold; margin-top: 40px;">Manage Users</p>
      <div class="table-responsive">
        <table class="table table-bordered">
          <thead>
            <tr>
              <th>Id</th>
              <th>Name</th>
              <th>Username</th>
              <th>Email</th>
              <th>Manage</th>
            </tr>
          </thead>
        <tbody>
          <% @users.each do |user| %>
            <tr>
              <td><%= user.id %></td>
              <td><%= user.first_name %> <%= user.last_name %></td>
              <td><%= link_to "#{user.username}", user_path(user) %></td>
              <td><%= mail_to(user.email) %></td>
              <td>
                <%= link_to '<i class="fa fa-trash-o"></i> Delete User'.html_safe, user, method: :delete, data: {confirm: "THIS DELETES THE USER! Are you sure? Please confirm the deletion of '#{user.username}'."} %>
              </td>
            </tr>
          <% end %>
        </tbody>
      </table>
    </div>
  </div>

  <div class="col-md-12" style="padding-left: 0">
    <p style="font-size: 18px; font-weight: bold">Manage Categories</p>
      <div class="table-responsive">
        <table class="table table-bordered">
          <thead>
            <tr>
              <th>Id</th>
              <th>Name</th>
              <th>Description</th>
              <th>Date Created</th>
              <th>Posts</th>
              <th>Actions</th>
            </tr>
          </thead>
        <tbody>
          <% @categories.each do |category| %>
            <tr>
              <td><%= category.id %></td>
              <td><%= link_to "#{category.name}", category_path(category) %></td>
              <td><%= category.name %></td>
              <td><%= localize(category.created_at, :format => :default) %></td>
              <td><%= category.posts.count %></td>
              <td><%= link_to '<i class="fa fa-pencil-square-o"></i> Edit Category'.html_safe, edit_category_path(category) %> ⎜ <%= link_to '<i class="fa fa-trash-o"></i> Delete Category'.html_safe, category, method: :delete, data: {confirm: "THIS DELETES THE CATEGORY! Are you sure? Please confirm the deletion of '#{category.name}'."} %></td>
            </tr>
          <% end %>
        </tbody>
      </table>
    </div>
  </div>

</div>
