<!-- POST TITLE -->
<body id="page-users-show">

  <div class="container-fluid">
    <div class="container">
      <div class="row">
        <div class="col-md-12">
          <div class="first">
            <h3><%= @user.first_name %> <%= @user.last_name %></h3>
          </div>
        </div>
      </div>
    </div>
  </div>

  <div class="container">
    <div class="row">

      <div class="col-md-4">
        <p><%= image_tag @user.avatar.url(:thumb) %></p>
        <p><%= link_to "Edit your profile", edit_user_registration_path %></p>
        <p><%= link_to 'Create A New Post', new_post_path %></p>

        <p><u>Oslaw Stats</u></p>
        <p>Posts: <%= @user.posts.count %></p>
        <p>Last Post:
          <% if @user.posts.empty? %>
            <%= "No posts" %>
          <% else %>
            <%= link_to "#{@user.posts.last.title}", post_path(@user.posts.last) %> <small>(created on <%= localize(@user.posts.last.created_at, :format => :default) %>)</small>
          <% end %></p>
        <p>Upvoted Posts: <%= (@user.votes.up.for_type(Post).votables).size %></p>
        <p>Downvoted Posts: <%= (@user.votes.down.for_type(Post).votables).size %></p>
        <p>Comments: <%= @user.comments.count %></p>
        <p>Last Comment:
          <% if @user.comments.empty? %>
            <%= "No comments" %>
          <% else %>
            <%= localize(@user.comments.last.created_at, :format => :default) %>
          <% end %></p>
        <p>Upvoted Comments: <%= (@user.votes.up.for_type(Comment).votables).size %></p>
        <p>Downvoted Comments: <%= (@user.votes.down.for_type(Comment).votables).size %></p>
      </div>

      <div class="col-md-8">

        <div class="panel panel-default">
          <div class="panel-heading"><strong>Post Statistics</strong></div>

            <p style="margin-top: 10px; padding: 0 10px"><strong>Most Recent Posts</strong></p>
              <p><% @recent_posts.each do |post| %>
                <ul style="list-style: none; margin: 0; padding: 0 10px;">
                  <li style="border-bottom: 1px solid #f2f2f2"><%= link_to post.title, post_path(post) %> - <small>created on <%= localize(post.created_at, :format => :default) %></small></li>
                </ul>
            <% end %></p>
            <div class="future">
            <p style="margin-top: 10px; padding: 0 10px"><strong>Recently Updated Posts</strong></p>
              <p><% @updated_posts.each do |post| %>
                <ul style="list-style: none; margin: 0; padding: 0 10px">
                  <li style="border-bottom: 1px solid #f2f2f2"><%= link_to post.title, post_path(post) %> - <small>updated on <%= localize(post.updated_at, :format => :default) %></small></li>
                </ul>
              <% end %></p>
            </div>
            <p style="margin-top: 10px; padding: 0 10px"><strong>Most Upvoted Posts</strong></p>
              <p><% @popular_posts.each do |post| %>
                <% if post.get_upvotes.count > 0 %>
                  <ul style="list-style: none; margin: 0; padding: 0 10px">
                    <li style="border-bottom: 1px solid #f2f2f2"><%= link_to post.title, post_path(post) %> - <small><%= pluralize(post.get_upvotes.count, 'upvote') %></small></li>
                  </ul>
                <% end %>
              <% end %></p>


          </div>

        </div>

    </div>
  </div>

</body>
