<div class="container">
  <div class="row">

    <div class="col-md-4">
      <div style="margin-top: 40px">
        <h3><%= @user.first_name %> <%= @user.last_name %></h3>
        <p><%= image_tag @user.avatar.url(:thumb) %></p>
      </div>
      <div>
        <p><%= link_to "Edit your profile", edit_user_registration_path %></p>
        <p><%= link_to 'Create A New Post', new_post_path %></p>
        <div class="future">
          <p><strong><u>Info</strong></u></p>
          <p>Jurisdiction:</p>
          <p>Date joined:</p>
          <p>Website:</p>
          <p><strong><u>Social</strong></u><br />
          <p>LinkedIn:</p>
          <p>Twitter:</p>
          <p>Facebook:</p>
        </div>
        <p><strong><u>Oslaw Stats</strong></u></p>
        <p>Posts: <%= @user.posts.count %></p>
        <p>Last Post:
          <% if @user.posts.empty? %>
            <%= "No posts" %>
          <% else %>
            <%= link_to "#{@user.posts.last.title}", post_path(@user.posts.last) %> <small>(created on <%= localize(@user.posts.last.created_at, :format => :default) %>)</small>
          <% end %></p>
        <p>Upvoted Posts: <%= (@user.votes.up.for_type(Post).votables).size %></p>
        <p>Downvoted Posts: <%= (@user.votes.down.for_type(Post).votables).size %></p>
        <p>Comments: <%= @user.comments.count %></p>
        <p>Last Comment:
          <% if @user.comments.empty? %>
            <%= "No comments" %>
          <% else %>
            <%= localize(@user.comments.last.created_at, :format => :default) %>
          <% end %></p>
        <p>Upvoted Comments: <%= (@user.votes.up.for_type(Comment).votables).size %></p>
        <p>Downvoted Comments: <%= (@user.votes.down.for_type(Comment).votables).size %></p>
      </div>
    </div>
    <div class="col-md-4" style="margin-top: 40px; padding-left: 0">
    </div>
    <div class="col-md-4" style="margin-top: 40px; padding-left: 0">
    </div>

  </div>
</div>
