<div class="container">
  <div class="row">
    <div class="col-md-4 center-block">
      <p style="border-bottom: 1px solid #e3e3e3; font-size: 18px; margin-top: 60px; text-align: center">Reset password</p>
        <div class="form-div">
          <%= form_for(resource, as: resource_name, url: password_path(resource_name), html: { method: :post }) do |f| %>
            <%= devise_error_messages! %>
            <div class="field">
              <%= f.label :username %><br />
              <%= f.text_field :username, autofocus: true %>
            </div>
            <%= f.submit "Send instructions", class: "btn btn-success" %>
          <% end %>
        <p><%= link_to "â† Back", :back %></p>
      </div>
    </div>
  </div>
</div>
