<body id="page-sessions-new">
  <div class="container">
    <div class="row">

      <div class="col-md-offset-3 col-md-6">
        <div class="panel panel-default">
          <div class="panel-body">
            <div class="col-md-offset-2 col-md-8">
              <h3>Sign In to Oslaw</h3>
              <%= simple_form_for(resource, as: resource_name, url: session_path(resource_name)) do |f| %>
                <div class="form-inputs">
                  <%= f.input :login, placeholder: "username or email address", required: true, autofocus: true %>
                <%= f.input :password, required: true %>
                <%= f.input :remember_me, as: :boolean if devise_mapping.rememberable? %>
                <%= f.button :submit, "Sign in", class: 'btn btn-success' %>
                </div>
              <% end %>
            </div>
          </div>
        </div>

        <div>
          <p>Need an account? <%= link_to "Sign Up", new_registration_path(resource_name) %></p>
          <p><%= link_to "Resend confirmation instructions", new_confirmation_path(resource_name) %></p>
          <p>← <%= link_to 'Welcome Page', root_path %></p>
        </div>

      </div>

    </div>
  </div>
</body>
