<body id="page-posts-edit" data-no-turbolink>

  <div class="row">
    <div id="first">
      <h3>Edit Page</h3>
    </div>
  </div>

  <!-- FORM -->
  <div class="row">
    <div class="col-md-12">
      <%= simple_form_for [@post] do |f| %>
        <div class="form-inputs">
          <%= f.input :title %>
          <%= f.input :body, :as => :ckeditor, :input_html => { :ckeditor => {:toolbar => 'Full'} } %>
          <%= f.input :tag_list, label: "Tags (seperated by commas)", input_html: {value: @post.tag_list.to_s} %>
          <%= link_to "Cancel", url_for(@post), class: 'btn btn-info' %>
          <%= f.button :button, "Save Page".html_safe, class: 'btn btn-success', data: {disable_with: "<i class='fa fa-spinner fa-spin'></i> Saving..."} %>
        </div>
      <% end %>
    </div>
  </div>

</body>
