<body id="page-posts-index">

  <div class="row">
    <div id="first">
      <h3>Pages</h3>
    </div>
  </div>

  <div class="row">
    <div class="col-md-12">

      <!-- tagged pages -->
      <% if params[:tag].present? %>
        <p><%= "These are the pages with the '#{(params[:tag])}' tag" %>.<br /><%= link_to 'See all pages <i class="fa fa-angle-double-right"></i>'.html_safe, posts_path %></p>
        <% @tagged_posts.each do |letter, posts| %>
          <p><u><%= letter.capitalize %></u></p>
          <div class="panel group" id="accordion">
            <div class="panel panel-default">
              <% posts.each do |post| %>
                <div class="panel-heading">
                  <%= post.title %> <a data-toggle="collapse" data-parent="#accordion" href='<%= "#collapse_#{post.title}" %>'><i class="fa fa-info-circle"></i></a>
                  / <%= link_to 'view page', post_path(post) %>
                </div>
                <div id='<%= "collapse_#{post.title}" %>' class="panel-collapse collapse">
                  <div class="panel-body">
                    <u>Author:</u> <%= link_to post.user.username, user_path(post.user) %><br />
                    <u>Created On:</u> <%= localize(post.created_at, :format => :default) %><br />
                    <u>Last Updated:</u> <%= localize(post.updated_at, :format => :default) %><br />
                    <u>Tags:</u> <%= raw post.tag_list.map {|tag| link_to tag, tag_path(tag) }.join(', ') %><br />
                    <u>Upvotes:</u> <%= post.get_upvotes.count %><br />
                    <u>Comments:</u> <span class='js-comments-count'><%= post.comments.count %></span>
                  </div>
                </div>
              <% end %>
            </div>
          </div>
        <% end %>
      <% else %>
      <!-- all pages -->
      <% @alphabetical_posts.each do |letter, posts| %>
        <p><u><%= letter.capitalize %></u></p>
        <div class="panel group" id="accordion">
          <div class="panel panel-default">
            <% posts.each do |post| %>
              <div class="panel-heading">
                <%= post.title %> <a data-toggle="collapse" data-parent="#accordion" href='<%= "#collapse_#{post.title}" %>'><i class="fa fa-info-circle"></i></a>
                / <%= link_to 'view page', post_path(post) %>
              </div>
              <div id='<%= "collapse_#{post.title}" %>' class="panel-collapse collapse">
                <div class="panel-body">
                  <u>Author:</u> <%= link_to post.user.username, user_path(post.user) %><br />
                  <u>Created On:</u> <%= localize(post.created_at, :format => :default) %><br />
                  <u>Last Updated:</u> <%= localize(post.updated_at, :format => :default) %><br />
                  <u>Tags:</u> <%= raw post.tag_list.map {|tag| link_to tag, tag_path(tag) }.join(', ') %><br />
                  <u>Upvotes:</u> <%= post.get_upvotes.count %><br />
                  <u>Comments:</u> <span class='js-comments-count'><%= post.comments.count %></span>
                </div>
              </div>
            <% end %>
          </div>
        </div>
      <% end %>
    <% end %>

    </div>
  </div>


</body>
