<body id="page-posts-index">

  <div class="container-fluid">
    <div class="container">
      <div class="row">
        <div class="col-md-12">
          <div id="first">
            <h3>Index of Public Pages</h3>
          </div>
        </div>
      </div>
    </div>
  </div>

  <div class="container">
    <div class="row">
      <div class="col-md-12">
        <div id="second">
        <% if params[:tag].present? %>
          <p><%= "These are posts with the '#{(params[:tag])}' tag" %>. <%= link_to 'See all posts', posts_path %>.</p>
        <% end %>
        <% @alphabetical_posts.each do |letter, posts| %>
          <p style="text-decoration: underline"><%= letter.capitalize %></p>
            <table class="table table-bordered">
              <thead>
                <tr>
                  <th style="width: 30%">Title</th>
                  <th style="width: 12.5%">Author</th>
                  <th style="width: 17.5%">Tags</th>
                  <th style="text-align: center; width: 10%">Date Created</th>
                  <th style="text-align: center; width: 10%">Last Revised</th>
                  <th style="text-align: center; width: 10%">Upvotes</th>
                  <th style="text-align: center; width: 10%">Comments</th>
                </tr>
              </thead>
              <tbody>
              <% posts.each do |post| %>
                <tr>
                  <td><%= link_to post.title, post_path(post) %></td>
                  <td><%= link_to post.user.username, user_path(post.user) %></td>
                  <td><%= raw post.tag_list.map {|tag| link_to tag, tag_path(tag) }.join(', ') %></td>
                  <td style="text-align: center"><%= localize(post.created_at, :format => :default) %></td>
                  <td style="text-align: center"><%= localize(post.updated_at, :format => :default) %></td>
                  <td style="text-align: center"><%= post.get_upvotes.count %></td>
                  <td style="text-align: center"><%= post.comments.count %></td>
                </tr>
              <% end %>
              </tbody>
            </table>
          <% end %>
        </div>
      </div>
    </div>
  </div>

</body>
