<div class="container">
  <h3 style="border-bottom: 1px solid #e3e3e3; margin-top: 60px">Create A New Post</h3>
  <div class="col-md-4" style="padding-left: 0">
    <div class="panel panel-default">
      <div class="panel-heading">Post Guidelines</div>
      <div class="panel-body">
        Panel content
      </div>
    </div>
    <div class="panel panel-default">
      <div class="panel-heading">Post Options</div>
      <div class="panel-body">
        <p>"Document control will go here"</p>
        <%= render partial: 'categories/categories', locals: {category: @category} %>
      </div>
    </div>
  </div>
  <div class="col-md-8" style="padding: 0">
    <%= form_for [@category, @post] do |f| %>
      <div class="form-group">
        <%= f.label :post_title %>
        <%= f.text_field :title, class: 'form-control', placeholder: "Enter post title" %>
      </div>
      <div class="form-group">
        <%= f.label :post_body %><small>(<a target="_blank" href="https://en.wikipedia.org/w/index.php?title=Markdown&oldid=694169869">markdown</a> supported)</small>
        <%= f.text_area :body, rows: 8, class: 'form-control', placeholder: "Enter post body" %>
      </div>
      <%= f.submit "Save Post", class: 'btn btn-success' %>
    <% end %>
  </div>
</div>
