<div class="container">
  <div class="row">

    <!-- TITLE -->
    <div class="page-header">
      <h3>Create A New Post</h3>
    </div>

    <div class="col-md-12">
      <!-- GUIDELINES ALERT -->
      <div class="alert alert-danger alert-dismissible" role="alert">
        <button type="button" class="close" data-dismiss="alert" aria-label="Close"><span aria-hidden="true">&times;</span></button>
        <strong>Important!</strong> Please review our <%= link_to 'guidelines for posts', '#' %>.
      </div>

      <!-- FORM -->
      <%= simple_form_for [@post] do |f| %>
        <div class="form-inputs">
          <%= f.input :title %>
          <%= f.input :body, rows: 8 %>
          <%= f.input :tag_list, :label => "Tags* (seperated by commas)", :input_html => { :class => "css-class", :value => @post.tag_list.join(", ") } %>
        </div>

        <div class="form-actions">
          <%= button_tag(type: 'submit', class: "btn btn-success") do %>
           <i class="fa fa-user-plus"></i> Save Post
          <% end %>
        </div>
      <% end %>
    </div>

  </div>
</div>
