<!-- TITLE -->
<div class="container-fluid" style="background: #f2f2f2; border-bottom: 1px solid #b5b5b5;">
  <div class="row-fluid">
    <div class="container">
      <div class="col-md-12" style="margin-top: 20px; padding-bottom: 10px; padding-left: 0">
        <p><span style="font-size: 22px; font-weight: bold; text-decoration: underline"><%= @post.title %></span></p>
        <p style="margin-top: -10px">by <%= link_to "#{@post.user.username}", user_path(@post.user) %> • <%= @user.posts.count %> posts</p>
        <p> Created on <strong><%= localize(@post.created_at, :format => :default) %></strong> • Last Revised on <strong><%= localize(@post.updated_at, :format => :default) %></strong><br />
          <%= link_to like_post_path(@post), method: :put do %>
            <button type="button" class="btn btn-info btn-xs" aria-label="Left Align">
              <span class="glyphicon glyphicon-thumbs-up glyphicon-align-center" aria-hidden="true"></span>
              <span class="badge"><%= @post.get_upvotes.size %></span>
            </button>
          <% end %>
          <%= link_to unlike_post_path(@post), method: :put do %>
            <button type="button" class="btn btn-info btn-xs" aria-label="Left Align">
              <span class="glyphicon glyphicon-thumbs-down glyphicon-align-center" aria-hidden="true"></span>
              <span class="badge"><%= @post.get_downvotes.size %></span>
            </button>
          <% end %>
          <% if policy(@post).update? %>
            <%= link_to edit_post_path(@post) do %>
              <button type="button" class="btn btn-info btn-xs" aria-label="Left Align">
                <span class="glyphicon glyphicon-edit glyphicon-align-center" aria-hidden="true"></span> Edit Post
              </button>
            <% end %>
          <% end %>
          <% if policy(@post).destroy? %>
              <%= link_to [@post.category, @post], method: :delete, data: {confirm: "THIS DELETES THE POST! Please confirm the deletion of #{@post.title}."} do %>
              <button type="button" class="btn btn-info btn-xs" aria-label="Left Align">
                <span class="glyphicon glyphicon-edit glyphicon-align-center" aria-hidden="true"></span> Delete Post
              </button>
            <% end %>
          <% end %>
        </p>
      </div>
    </div>
  </div>
</div>

<!-- POST -->
<div class="container">
  <div class="row">
    <div class="col-md-8" style="; margin-top: 10px">
      <p><i class="fa fa-file"></i> Document(s): <%= link_to "Word", "#" %> • <%= link_to "PDF", "#" %> [Search Post]</p>
      <div class="panel panel-default" style="border: 1px solid #b5b5b5; border-radius: 0">
        <div class="panel-body" style="padding: 20px;">
        <p><span style="margin-top: 0"><%= markdown(@post.body) %></span></p>
      </div>
    </div>

      <!-- COMMENTS -->
      <p style="border-top: 1px solid #b5b5b5; padding-top: 10px"><strong>Input from The Community:</strong></p>
      <% if @post.comments.empty? %>
        <p><%= "There are no comments. Be the first to contribute to this post." %></p>
      <% else %>
        <div class='js-comments'>
          <%= render @post.comments %>
        </div>
      <% end %>
      <% if current_user %>
        <div class='new-comment'>
          <%= render 'comments/form', comment: Comment.new, post: @post %>
        </div>
      <% end %>
    </div>


    <!-- RIGHT SIDEBAR -->
    <div class="col-md-4" style="margin-top: 10px">
      <div class="panel panel-default" style="border: 1px solid #b5b5b5; border-radius: 0">
        <div class="panel-heading" style="background: #fff; border-bottom: 1px solid #b5b5b5; font-weight: bold"><%= @user.username.capitalize %>'s Notes</div>
        <div class="panel-body">
          <p>Author notes will go here. Needs to be added to model and form for creating/updating posts.</p>
        </div>
      </div>

      <div class="panel panel-default" style="border: 1px solid #b5b5b5; border-radius: 0">
        <div class="panel-heading" style="background: #fff; border-bottom: 1px solid #b5b5b5; font-weight: bold">About This Post</div>
        <div class="panel-body">
          <p><u>Categories:</u> <%= link_to "#{@post.category.name}", category_path(@post.category) %></p>
          <p><u>Tags:</u></p>
          <p><u>Likes:</u></p>
          <p><u>Favorited:</u></p>
          <p><u>Viewed:</u></p>
        </div>
      </div>

      <div class="panel panel-default" style="border: 1px solid #b5b5b5; border-radius: 0">
        <div class="panel-heading" style="background: #fff; border-bottom: 1px solid #b5b5b5; font-weight: bold">Related Posts</div>
        <div class="panel-body">
          <p>Related post</p>
          <p>Related post</p>
          <p>Related post</p>
          <p>Related post</p>
        </div>
      </div>
    </div>
  </div>
</div>
