<body id="page-posts-show">
  <div class="container">

    <div class="row">
      <div id="first">
        <div class="col-md-12">
          <!-- page title -->
          <h3><%= @post.title %></h3>
          <!-- author/admin controls -->
          <p>
            <% if policy(@post).update? %>
              <%= link_to '<i class="fa fa-pencil"></i> Edit'.html_safe, edit_post_path(@post) %>
            <% end %>
            <% if policy(@post).destroy? %>
              &nbsp<i class="fa fa-ellipsis-v"></i>&nbsp;
              <%= link_to '<i class="fa fa-trash-o"></i> Delete'.html_safe, @post, method: :delete, data: {confirm: "Are you sure?"} %>
            <% end %>
          </p>
        </div>
      </div>
    </div>

    <!-- information -->
    <div class="row">
      <div class="col-md-12">
        <div id="page-posts-show-info">

          <!-- author -->
          <p>by&nbsp;<%= link_to "#{@post.user.username}", user_path(@post.user) %></p>

          <!-- created, updated -->
          <p>Created:&nbsp;<%= localize(@post.created_at, :format => :default) %>;&nbsp; Last updated:&nbsp;<%= localize(@post.updated_at, :format => :default) %></p>

          <!-- tags -->
          <p>
            <i class="fa fa-tags"></i>&nbsp;
            <% if @post.tag_list.size == 0 %>
              <%= 'No tags' %>
            <% else %>
              <%= raw @post.tag_list.map {|tag| link_to tag, tag_path(tag) }.join(', ') %>
            <% end %><br />
          </p>

          <!-- voting, bookmarking, comment anchor -->
          <p>
            <%= render partial: 'votes/vote', locals: { post: @post } %>
            &nbsp<i class="fa fa-ellipsis-v"></i>&nbsp;
            <%= render partial: 'bookmarks/bookmark', locals: { post: @post } %>
            &nbsp<i class="fa fa-ellipsis-v"></i>&nbsp;
            <span class='js-comments-count'>
              <%= pluralize (@post.comments.count), 'comment' %>
            </span>
            &nbsp;<%= link_to '<i class="fa fa-caret-down"></i>'.html_safe, post_path(:anchor => "comments") %>
          </p>
        </div>
      </div>
    </div>

    <!-- post body -->
    <div class="row">
      <div class="col-md-12">
        <div id="page-posts-show-body">
          <%= @post.body.html_safe %>
          <% if policy(@post).update? %>
            &nbsp;<%= link_to '<i class="fa fa-pencil"></i> Edit'.html_safe, edit_post_path(@post) %>
          <% end %>
        </div>
      </div>
    </div>

    <!-- documents -->
    <div class="row">
      <div class="col-md-12">
        <div id="page-posts-show-documents">
          <div class="col-md-8" style="padding-left: 0;">
            <% if @post.documents.count > 0 %>
              <%= render 'documents/document', document: @document, post: @post %>
            <% else %>
              <i class="fa fa-file-text"></i>&nbsp;<%= 'No documents are associated with this page.' %>
            <% end %>
          </div>

          <!-- document upload form -->
          <% if policy(@post).update? %>
            <div class="col-md-4">
              <%= render 'documents/form', document: Document.new, post: @post %>
            </div>
          <% end %>

        </div>
      </div>
    </div>

    <!-- comments -->
    <div class="row">
      <div class="col-md-12">
        <div class="comments">
          <p id="comments" style="font-weight: 400; margin-bottom: 10px; text-decoration: underline">Discuss <i class="fa fa-comments"></i></p>
          <div class='js-comments'>
            <%= render @post.comments %>
          </div>
          <div class='new-comment'>
            <%= render 'comments/form', comment: Comment.new, post: @post %>
          </div>
        </div>
      </div>
    </div>

  </div>
</body>
