<body id="page-posts-show">

  <div class="row">
    <div id="first">
      <h3><%= @post.title %></h3>
      <p>
        <u>Upvotes:</u>
         <%= @post.get_upvotes.size %>
        <% if @current_user.voted_up_on? @post %>
          <%= link_to unlike_post_path(@post), method: :put do %>
            <span class="glyphicon glyphicon-thumbs-down" aria-hidden="true"></span>
          <% end %> <small>(remove upvote)</small>
        <% else %>
          <%= link_to like_post_path(@post), method: :put do %>
            <span class="glyphicon glyphicon-thumbs-up" aria-hidden="true"></span>
          <% end %> <small>(upvote)</small>
        <% end %>
        / Favorite:
      </p>
    </div>
  </div>

  <div class="row">
    <div class="col-md-12">
      <div id="page-posts-show-second">
        <p><i class="fa fa-file-text-o"></i> <u>Associated Document:</u>
        <% if @post.document? %>
          <%= link_to @post.document.original_filename, @post.document.url(:original, false) %>
          <% if policy(@post).delete_document? %>
             [<%= link_to 'Delete', {action: :delete_document, id: @post.id}, method: :put, data: { confirm: 'Are you sure?' } %>]
          <% end %>
        <% else %>
          <%= 'None' %>
            <% if policy(@post).update? %>
               [<%= link_to 'Add one', edit_post_path %>]
            <% end %>
        <% end %></p>
        <p><u>Author:</u> <%= link_to "#{@post.user.username}", user_path(@post.user) %> (<%= pluralize (@user.posts.count), 'post' %>)
          <% if policy(@post).update? %>
             [<%= link_to 'Edit Post', edit_post_path(@post) %>]
          <% end %>
          <% if policy(@post).destroy? %>
             [<%= link_to 'Delete Post', @post, method: :delete, data: {confirm: "Are you sure? Please confirm the deletion of this post."} %>]
          <% end %><br />
        <u>Created On:</u> <%= localize(@post.created_at, :format => :default) %>
        <u>Last Updated:</u> <%= localize(@post.updated_at, :format => :default) %><br />
        <u>Tags:</u> <%= raw @post.tag_list.map {|tag| link_to tag, tag_path(tag) }.join(', ') %><br />
        <u>Comments:</u> <span class='js-comments-count'><%= @post.comments.count %></span></p>
      </div>
    </div>
  </div>

  <div class="row">
    <div class="col-md-12">
      <div class="panel panel-default">
        <div class="panel-body"><%= @post.body.html_safe %></div>
      </div>

      <div class="comments">
        <p style="font-weight: 400; margin-bottom: 10px; text-decoration: underline">Discuss <i class="fa fa-comments"></i></p>
        <div class='js-comments'>
          <%= render @post.comments %>
        </div>
        <div class='new-comment'>
          <%= render 'comments/form', comment: Comment.new, post: @post %>
        </div>
      </div>
    </div>
  </div>

</body>
