<!-- POST TITLE -->
<div class="container-fluid" style="background: #fbfbfb; border-bottom: 1px solid #eee; padding-bottom: 20px; padding-top: 10px;">
  <div class="container">
    <div class="row">
      <div class="col-md-12">
        <h3><%= @post.title %></span></h3>
      </div>
    </div>

    <div class="row">
      <div class="col-md-12">
        <p><span style="margin-top: 0"><%= markdown(@post.body) %>
          <% if policy(@post).update? %>
            <%= link_to '<i class="fa fa-pencil-square-o"></i> Edit Post'.html_safe, edit_post_path(@post) %>
          <% end %>
        </span></p>
      </div>
    </div>

    <div class="row">
      <div class="col-md-6" style="margin-top: 10px">
        <%= link_to like_post_path(@post), method: :put do %>
          <button type="button" class="btn btn-info btn-sm" aria-label="Left Align"> Upvote
            <span class="glyphicon glyphicon-thumbs-up" aria-hidden="true"></span>
            <span class="badge"><%= @post.get_upvotes.size %></span>
          </button>
        <% end %>
        <%= link_to unlike_post_path(@post), method: :put do %>
          <button type="button" class="btn btn-info btn-sm" aria-label="Left Align"> Downvote
            <span class="glyphicon glyphicon-thumbs-down" aria-hidden="true"></span>
            <span class="badge"><%= @post.get_downvotes.size %></span>
          </button>
        <% end %>
        <button type="button" class="btn btn-primary btn-sm future" aria-label="Left Align"> Favorite
          <span class="glyphicon glyphicon-star-empty" aria-hidden="true"></span>
          <span class="badge"> # </span>
        </button>
      </div>
    </div>
  </div>
</div>

<!-- DOCUMENTS & INFORMATION -->
<div class="container">
  <div class="row">

    <!-- DOCUMENTS -->
    <div class="col-md-8 future" style="margin-top: 15px">
      <div class="panel panel-default">
        <div class="panel-heading">
          <strong><i class="fa fa-folder-open"></i> Main Document</strong>
        </div>
        <div class="panel-body" style="padding-bottom: 10px;">
          Version #:<%= link_to "Word", "#" %> • <%= link_to "PDF", "#" %>
        </div>
      </div>

      <div class="panel panel-default">
        <div class="panel-heading">
          <strong><i class="fa fa-folder"></i> Prior Versions</strong>
        </div>
        <div class="panel-body" style="padding-bottom: 10px;">
          Version #:<%= link_to "Word", "#" %> • <%= link_to "PDF", "#" %><br />
          Version #:<%= link_to "Word", "#" %> • <%= link_to "PDF", "#" %><br />
          Version #:<%= link_to "Word", "#" %> • <%= link_to "PDF", "#" %>
        </div>
      </div>
    </div>

    <!-- POST INFORMATION - SIDEBAR -->
    <div class="col-md-4" style="margin-top: 15px">
      <div class="panel panel-default">
        <div class="panel-heading"><strong><i class="fa fa-info-circle"></i> Post Information</strong></div>
        <div class="panel-body">
          <p>Author: <%= link_to "#{@post.user.username}", user_path(@post.user) %> (<%= pluralize (@user.posts.count), 'post' %>)</p>
          <p>Created: <%= localize(@post.created_at, :format => :default) %></p>
          <p>Last Revised: <%= localize(@post.updated_at, :format => :default) %></p>
          <p>Tags: <%= raw @post.tag_list.map {|tag| link_to tag, tag_path(tag) }.join(', ') %></p>
          <p class="future">Views: <%= '# views' %><br /></p>
          <p class='js-comments-count'><%= pluralize(@post.comments.count, 'comment') %></p>
          <p class="future">Related posts:</p>
        </div>
      </div>
    </div>

  </div>

    <!-- COMMENTS -->
    <p style="border-top: 1px solid #eee; padding-top: 10px"><strong>Input from The Community:</strong></p>
      <div class='js-comments'>
        <%= render @post.comments %>
      </div>
      <% if current_user %>
        <div class='new-comment'>
          <%= render 'comments/form', comment: Comment.new, post: @post %>
        </div>
      <% end %>

    </div>

  </div>
</div>
