<body id="page-posts-show">
  <div class="container">

    <div class="row">

      <div class="col-md-8">
        <!-- post title -->
        <div id="first">
          <h3><%= @post.title %></h3>
          <p>by&nbsp;<%= link_to "#{@post.user.username}", user_path(@post.user) %>&nbsp;(<%= pluralize (@user.posts.count), 'post' %>)</p>
        <!-- history -->
        <p>Last updated&nbsp;<%= time_ago_in_words(@post.updated_at) %>&nbsp;ago&nbsp;•&nbsp;
        <span class='js-comments-count'>
          <%= pluralize (@post.comments.count), 'comment' %>
        </span>&nbsp;<%= link_to '<i class="fa fa-caret-down"></i>'.html_safe, post_path(:anchor => "comments") %></p>
      </div>
        <!-- post body -->
        <div id="page-posts-show-body">
          <%= markdown(@post.body) %>
          <!-- author/admin controls -->
            <% if policy(@post).update? %>
              <%= link_to '<i class="fa fa-pencil"></i> Edit'.html_safe, edit_post_path(@post) %>
            <% end %>
            <% if policy(@post).destroy? %>
              &nbsp;•&nbsp;<%= link_to '<i class="fa fa-trash-o"></i> Delete'.html_safe, @post, method: :delete, data: {confirm: "Are you sure?"} %>
            <% end %>
        </div>
      </div>

    <!-- voting, bookmarking & tags -->
    <div class="col-md-4">
      <div id="page-posts-show-sidebar">
        <p>
          <%= render partial: 'bookmarks/bookmark', locals: { post: @post } %>
          &nbsp;<i class="fa fa-ellipsis-v"></i>&nbsp;
          <%= render partial: 'votes/vote', locals: { post: @post } %></p>
        <p>
          <i class="fa fa-tags"></i>&nbsp;
          <% if @post.tag_list.size == 0 %>
            <%= 'No tags' %>
          <% else %>
            <%= raw @post.tag_list.map {|tag| link_to tag, tag_path(tag) }.join(', ') %>
          <% end %><br />
        </p>
        <!-- documents panel -->
        <div id="page-posts-show-documents">
          <div class="panel panel-default">
            <div class="panel-heading"><%= '<i class="fa fa-file-text"></i>&nbsp;Associated Documents'.html_safe %></div>
              <div class="panel-body">
                <% if @post.documents.count > 0 %>
                  <%= render 'documents/document', document: @document, post: @post %>
                <% else %>
                  <p><%= 'No documents are associated with this page.' %></p>
                <% end %>
                <% if policy(@post).update? %>
                  <br /><%= render 'documents/form', document: Document.new, post: @post %>
                <% end %>
              </div>
            </div>
          </div>
        </div>
      </div>

    </div>

    <!-- comments -->
    <div class="row">
      <div class="col-md-12">
        <div class="comments">
          <p id="comments" style="font-weight: 400; margin-bottom: 10px; text-decoration: underline">Discuss <i class="fa fa-comments"></i></p>
          <div class='js-comments'>
            <%= render @post.comments %>
          </div>
          <div class='new-comment'>
            <%= render 'comments/form', comment: Comment.new, post: @post %>
          </div>
        </div>
      </div>
    </div>

  </div>
</body>
