<div class="container">

  <!-- CATEGORY INFORMATION -->
  <div class="col-md-8" style="margin-top: 40px; padding-left: 0">
    <div class="table-responsive">
      <table class="table table-bordered">
        <tbody>
          <tr>
            <th style="text-decoration: underline">Category:</th>
              <td style="font-weight: bold; text-decoration: underline"><%= @category.name %></td>
          </tr>
          <tr>
            <th>Created by:</th>
              <td><%= link_to "#{@user.username}", user_path(@user) %></td>
          </tr>
          <tr>
            <th>Date Created:</th>
              <td><%= localize(@category.created_at, :format => :default) %></td>
          </tr>
          <tr>
            <th>No. of Posts:</th>
              <td><%= link_to "#{@category.posts.count}", "#" %></td>
          </tr>
          <tr>
            <th>Last Revision:</th>
              <td><%= localize(@category.updated_at, :format => :default) %></td>
          </tr>
          <tr>
            <th>Most Recent Posts:</th>
            <td>
              <% if @category.posts.count == 0 %>
                <p><%= "There are no posts associated with this category." %></p>
              <% else %>
                <% @recent_posts.each do |post| %>
                  <li><%= link_to post.title, category_post_path(@category, post) %> - <small>created on <%= localize(post.created_at, :format => :default) %></small></li>
                <% end %>
              <% end %>
            </td>
          </tr>
          <tr>
            <th>Most Upvoted Posts:</th>
            <td>
              <% if @category.posts.count == 0 %>
                <p><%= "There are no posts associated with this category." %></p>
              <% else %>
                <% @pop_posts.each do |post| %>
                  <li><%= link_to post.title, category_post_path(@category, post) %> - <small><%= pluralize(post.points, 'point') %></small></li>
                <% end %>
              <% end %>
            </td>
          </tr>
          <tr>
            <th>Most Favorited Posts:</th>
            <td>
              <% if @category.posts.count == 0 %>
                <p><%= "There are no posts associated with this category." %></p>
              <% else %>
                <% @category.posts.each do |post| %>
                  <li><%= link_to post.title, category_post_path(@category, post) %> - <small>last updated: <%= localize(post.created_at, :format => :default) %></small></li>
                <% end %>
              <% end %>
            </td>
          </tr>
        </tbody>
      </table>
    </div>
  </div>

  <!-- CATEGORY OPTIONS -->
  <div class="col-md-4" style="margin-top: 40px; padding-left: 0">
    <div class="table-responsive">
      <table class="table table-bordered">
        <thead>
          <tr>
            <th style="background: #fff">Category Options:</th>
          </tr>
        </thead>
        <tbody>
          <% if policy(@category).update? %>
            <tr>
              <td><%= link_to '<i class="fa fa-pencil-square-o"></i> Edit Category'.html_safe, edit_category_path(@category) %></td>
            </tr>
          <% end %>
          <% if policy(@category).destroy? %>
            <tr>
              <td><%= link_to '<i class="fa fa-trash-o"></i> Delete Category'.html_safe, @category, method: :delete, data: {confirm: "Please confirm the deletion of '#{@category.name}'."} %></td>
            </tr>
          <% end %>
          <tr>
            <td><%= link_to '<i class="fa fa-plus-square-o"></i> Create New Post'.html_safe, new_category_post_path(@category) %></td>
          </tr>
        </tbody>
      </table>
    </div>
  </div>

  <!-- DISPLAY ALL POSTS -->
  <div class="col-md-8" style="padding-left: 0">
    <p><strong><u>All Posts in <%= @category.name %></strong></u></p>
    <% if @category.posts.empty? %>
      <p><%= "There are no posts. Be the first to contribute to this category." %></p>
    <% else %>
      <% @posts.each do |post| %>
        <%= link_to post.title, category_post_path(@category, post) %> - <small>last updated: <%= localize(post.created_at, :format => :default) %></small><br />
      <% end %>
    <% end %>
  </div>

</div>
