<!DOCTYPE html>
<html>
<head>
  <meta charset="utf-8">
  <meta http-equiv="X-UA-Compatible" content="IE=edge">
  <meta name="viewport" content="width=device-width, initial-scale=1">

  <title>Oslaw</title>

  <%= stylesheet_link_tag    'application', media: 'all', 'data-turbolinks-track' => true %>
  <%= javascript_include_tag 'application', 'data-turbolinks-track' => true %>
  <%= csrf_meta_tags %>

  <link href='https://fonts.googleapis.com/css?family=Source+Sans+Pro:400,400italic,700,700italic' rel='stylesheet' type='text/css'>
  <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/font-awesome/4.4.0/css/font-awesome.min.css">

</head>
  <body>

    <div class="navbar navbar-default" role="navigation">
      <div class="container">
        <div class="navbar-header">
          <button type="button" class="navbar-toggle" data-toggle="collapse" data-target=".navbar-collapse">
            <span class="sr-only">Toggle navigation</span>
            <span class="icon-bar"></span>
            <span class="icon-bar"></span>
            <span class="icon-bar"></span>
          </button>
          <a class="navbar-brand" href="#"><span class="glyphicon glyphicon-share" aria-hidden="true" style="font-size: 20px"></span>Oslaw</a>
        </div>
        <div class="collapse navbar-collapse">
    	  <ul class="nav navbar-nav navbar-right">
          <% if user_signed_in? %>
            <li><%= link_to '<i class="fa fa-columns"></i> All Categories'.html_safe, categories_path, :class => 'navbar-link' %></li>
            <% if current_user.admin? %>
              <li><%= link_to '<i class="fa fa-home"></i> Your Home Page'.html_safe, users_path, :class => 'navbar-link' %></li>
            <% else %>
              <li><%= link_to '<i class="fa fa-home"></i> Your Home Page'.html_safe, user_path(current_user), :class => 'navbar-link' %></li>
            <% end %>
            <li><%= link_to '<i class="fa fa-sign-out"></i>Sign Out'.html_safe, destroy_user_session_path, method: :delete, :class => 'navbar-link'  %></a></li>
          <% else %>
            <li><%= link_to '<i class="fa fa-info-circle"></i> About Oslaw'.html_safe, "#", class: 'navbar-link' %></li>
            <li><%= link_to '<i class="fa fa-cogs"></i> How It Works'.html_safe, "#", class: 'navbar-link' %></li>
            <li><button type="button" class="btn btn-success" style="margin-top: 7px"><%= link_to '<i class="fa fa-user-plus"></i> Sign Up'.html_safe,new_user_registration_path%></button></li>
            <li><%= link_to '<i class="fa fa-sign-in"></i> Sign In'.html_safe, new_user_session_path, class: 'navbar-link' %></li>
          <% end %>
        </ul>
        </div>
      </div>
    </div>

    <div class="flash">
      <% if flash[:notice] %>
        <div class="alert alert-success">
          <button type="button" class="close" data-dismiss="alert">&times;</button>
          <%= flash.now[:notice] %>
        </div>
      <% elsif flash.now[:alert] %>
        <div class="alert alert-danger">
          <button type="button" class="close" data-dismiss="alert">&times;</button>
          <%= flash.now[:alert] %>
        </div>
      <% elsif flash[:alert] %>
        <div class="alert alert-warning">
          <button type="button" class="close" data-dismiss="alert">&times;</button>
          <%= flash[:alert] %>
        </div>
      <% end %>
    </div>

    <%= yield %>

    <footer class="footer">
      <p>
        Copyright © 2015 Oslaw. All Rights Reserved.<br />
        Oslaw is an online service that provides legal forms and legal information. Oslaw is not a law firm and is not a substitute for legal advice.<br />
        Use of Oslaw is subject to our <%= link_to "Terms and Conditions", "#" %>. Have a question? <span><%= link_to "Contact Oslaw", "#" %>.<br />
        <a href="#"><i class="fa fa-twitter"></i></a>  <a href="#"><i class="fa fa-facebook"></i></a>  <a href="#"><i class="fa fa-linkedin"></i></a>  <a href="#"><i class="fa fa-google-plus"></i></a></span>
      </p>
    </footer>

  </body>
</html>
